<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
    <p>This really be your lot</p>
</main>

<footer>
</footer>

</body>
</html>